* {
    padding: 0;
    margin: 0;
}

.wick-editor-project {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 3vh;
    padding: 3vh;
}

.download-wick {
    font: bold;
    font-size: large;
    padding: 2vh;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    background-color: gainsboro;
    border: 2px solid black;
}

.download-wick:hover {
    background-color: darkgray;
}

a {
    text-decoration: none;
    color: black;
}

